Importa Bibliotecas

In [ ]:
import pandas as pd

Carrega Bases

In [2]:
df_enem_2018 = pd.read_csv(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2018\DADOS\MICRODADOS_ENEM_2018.csv', sep=';', encoding='latin1', low_memory=False)
df_enem_2019 = pd.read_csv(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2019\DADOS\MICRODADOS_ENEM_2019.csv', sep=';', encoding='latin1', low_memory=False)
df_enem_2020 = pd.read_csv(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2020\DADOS\MICRODADOS_ENEM_2020.csv', sep=';', encoding='latin1', low_memory=False)
df_enem_2021 = pd.read_csv(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2021\DADOS\MICRODADOS_ENEM_2021.csv', sep=';', encoding='latin1', low_memory=False)
df_enem_2022 = pd.read_csv(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2022\DADOS\MICRODADOS_ENEM_2022.csv', sep=';', encoding='latin1', low_memory=False)
df_enem_2023 = pd.read_csv(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2023\DADOS\MICRODADOS_ENEM_2023.csv', sep=';', encoding='latin1', low_memory=False)

display(df_enem_2018.head())

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,180007186625,2018,2,F,0.0,4,1,2,0,4,...,B,C,B,B,D,B,C,B,B,D
1,180007186627,2018,3,F,0.0,4,1,1,1,1,...,A,B,A,A,B,A,A,A,A,A
2,180007186628,2018,3,M,0.0,0,1,2,0,2,...,A,B,B,A,D,A,A,A,B,A
3,180007186629,2018,2,F,0.0,3,1,2,0,4,...,A,C,A,B,D,B,A,B,B,B
4,180007186631,2018,11,F,0.0,5,1,1,6,1,...,A,B,B,A,C,A,B,A,A,A

In [4]:
colunas_a_manter = ['NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 
                    'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ESCOLA', 
                    'TP_ENSINO', 'IN_TREINEIRO', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 
                    'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 
                    'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN',
                    'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 
                    'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 
                    'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 
                    'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 
                    'Q009', 'Q010', 'Q011', 'Q012', 'Q022', 'Q024', 'Q025']

df_enem_2018 = df_enem_2018[colunas_a_manter]
df_enem_2019 = df_enem_2019[colunas_a_manter]
df_enem_2020 = df_enem_2020[colunas_a_manter]
df_enem_2021 = df_enem_2021[colunas_a_manter]
df_enem_2022 = df_enem_2022[colunas_a_manter]
df_enem_2023 = df_enem_2023[colunas_a_manter]

display(df_enem_2018.head())

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,...,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q022,Q024,Q025
0,2018,2,F,0.0,4,1,2,4,1.0,0,...,F,A,C,D,A,A,A,D,C,B
1,2018,3,F,0.0,4,1,1,1,1.0,0,...,B,A,B,B,A,A,B,B,A,A
2,2018,3,M,0.0,0,1,2,2,1.0,0,...,B,A,B,D,B,B,B,D,A,A
3,2018,2,F,0.0,3,1,2,4,1.0,0,...,I,A,B,D,A,A,B,D,A,B
4,2018,11,F,0.0,5,1,1,1,1.0,0,...,C,A,B,C,A,B,B,C,B,A

In [7]:
display(df_enem_2018.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5513733 entries, 0 to 5513732
Data columns (total 49 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_ANO                  int64
 1   TP_FAIXA_ETARIA         int64
 2   TP_SEXO                 object
 3   TP_ESTADO_CIVIL         float64
 4   TP_COR_RACA             int64
 5   TP_NACIONALIDADE        int64
 6   TP_ST_CONCLUSAO         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   IN_TREINEIRO            int64
 10  NO_MUNICIPIO_ESC        object
 11  CO_UF_ESC               float64
 12  SG_UF_ESC               object
 13  TP_DEPENDENCIA_ADM_ESC  float64
 14  TP_LOCALIZACAO_ESC      float64
 15  NO_MUNICIPIO_PROVA      object
 16  CO_UF_PROVA             int64
 17  SG_UF_PROVA             object
 18  TP_PRESENCA_CN          float64
 19  TP_PRESENCA_CH          float64
 20  TP_PRESENCA_LC          float64
 21  TP_PRESENCA_MT          float64
 22  NU_NOTA_CN              float64
 23  NU_NOTA_CH              float64
 24  NU_NOTA_LC              float64
 25  NU_NOTA_MT              float64
 26  TP_LINGUA               int64
 27  TP_STATUS_REDACAO       float64
 28  NU_NOTA_COMP1           float64
 29  NU_NOTA_COMP2           float64
 30  NU_NOTA_COMP3           float64
 31  NU_NOTA_COMP4           float64
 32  NU_NOTA_COMP5           float64
 33  NU_NOTA_REDACAO         float64
 34  Q001                    object
 35  Q002                    object
 36  Q003                    object
 37  Q004                    object
 38  Q005                    int64
 39  Q006                    object
 40  Q007                    object
 41  Q008                    object
 42  Q009                    object
 43  Q010                    object
 44  Q011                    object
 45  Q012                    object
 46  Q022                    object
 47  Q024                    object
 48  Q025                    object
dtypes: float64(20), int64(10), object(19)
memory usage: 2.0+ GB

None

In [ ]:
# Conferindo se todas as colunas são iguais entre os dfs

dfs = [df_enem_2018, df_enem_2019, df_enem_2020, df_enem_2021, df_enem_2022, df_enem_2023]

# Pegando o conjunto de colunas de cada df
colunas_sets = [set(df.columns) for df in dfs]

# Verificando se todos os conjuntos são iguais
if all(colunas_sets[0] == s for s in colunas_sets[1:]):
    print("Todos os datasets têm as mesmas colunas (ignora a ordem).")
else:
    print("Alguns datasets têm colunas diferentes.")

colunas_base = dfs[0].columns
for i, df in enumerate(dfs[1:], start=2):
    if list(df.columns) == list(colunas_base):
        print(f"Dataset {i} tem colunas na mesma ordem.")
    else:
        print(f"Dataset {i} TEM COLUNAS DIFERENTES ou ordem diferente.")

Todos os datasets têm as mesmas colunas (ignora a ordem).
Dataset 2 tem colunas na mesma ordem.
Dataset 3 tem colunas na mesma ordem.
Dataset 4 tem colunas na mesma ordem.
Dataset 5 tem colunas na mesma ordem.
Dataset 6 tem colunas na mesma ordem.

In [ ]:
df_enem = pd.concat(dfs, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27191905 entries, 0 to 27191904
Data columns (total 49 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_ANO                  int64
 1   TP_FAIXA_ETARIA         int64
 2   TP_SEXO                 object
 3   TP_ESTADO_CIVIL         float64
 4   TP_COR_RACA             int64
 5   TP_NACIONALIDADE        int64
 6   TP_ST_CONCLUSAO         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   IN_TREINEIRO            int64
 10  NO_MUNICIPIO_ESC        object
 11  CO_UF_ESC               float64
 12  SG_UF_ESC               object
 13  TP_DEPENDENCIA_ADM_ESC  float64
 14  TP_LOCALIZACAO_ESC      float64
 15  NO_MUNICIPIO_PROVA      object
 16  CO_UF_PROVA             int64
 17  SG_UF_PROVA             object
 18  TP_PRESENCA_CN          float64
 19  TP_PRESENCA_CH          float64
 20  TP_PRESENCA_LC          float64
 21  TP_PRESENCA_MT          float64
 22  NU_NOTA_CN              float64
 23  NU_NOTA_CH              float64
 24  NU_NOTA_LC              float64
 25  NU_NOTA_MT              float64
 26  TP_LINGUA               int64
 27  TP_STATUS_REDACAO       float64
 28  NU_NOTA_COMP1           float64
 29  NU_NOTA_COMP2           float64
 30  NU_NOTA_COMP3           float64
 31  NU_NOTA_COMP4           float64
 32  NU_NOTA_COMP5           float64
 33  NU_NOTA_REDACAO         float64
 34  Q001                    object
 35  Q002                    object
 36  Q003                    object
 37  Q004                    object
 38  Q005                    float64
 39  Q006                    object
 40  Q007                    object
 41  Q008                    object
 42  Q009                    object
 43  Q010                    object
 44  Q011                    object
 45  Q012                    object
 46  Q022                    object
 47  Q024                    object
 48  Q025                    object
dtypes: float64(21), int64(9), object(19)
memory usage: 9.9+ GB

None

EXPORTANDO BASE COM TUDO CONCATENADO

In [ ]:
# df_enem.to_pickle(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2018_2023.pkl')

**Importa base semi-limpa, de 2018 a 2023**

In [1]:
import pandas as pd

In [2]:
df_enem = pd.read_pickle(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2018_2023.pkl')
display(df_enem.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27191905 entries, 0 to 27191904
Data columns (total 49 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_ANO                  int64
 1   TP_FAIXA_ETARIA         int64
 2   TP_SEXO                 object
 3   TP_ESTADO_CIVIL         float64
 4   TP_COR_RACA             int64
 5   TP_NACIONALIDADE        int64
 6   TP_ST_CONCLUSAO         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   IN_TREINEIRO            int64
 10  NO_MUNICIPIO_ESC        object
 11  CO_UF_ESC               float64
 12  SG_UF_ESC               object
 13  TP_DEPENDENCIA_ADM_ESC  float64
 14  TP_LOCALIZACAO_ESC      float64
 15  NO_MUNICIPIO_PROVA      object
 16  CO_UF_PROVA             int64
 17  SG_UF_PROVA             object
 18  TP_PRESENCA_CN          float64
 19  TP_PRESENCA_CH          float64
 20  TP_PRESENCA_LC          float64
 21  TP_PRESENCA_MT          float64
 22  NU_NOTA_CN              float64
 23  NU_NOTA_CH              float64
 24  NU_NOTA_LC              float64
 25  NU_NOTA_MT              float64
 26  TP_LINGUA               int64
 27  TP_STATUS_REDACAO       float64
 28  NU_NOTA_COMP1           float64
 29  NU_NOTA_COMP2           float64
 30  NU_NOTA_COMP3           float64
 31  NU_NOTA_COMP4           float64
 32  NU_NOTA_COMP5           float64
 33  NU_NOTA_REDACAO         float64
 34  Q001                    object
 35  Q002                    object
 36  Q003                    object
 37  Q004                    object
 38  Q005                    float64
 39  Q006                    object
 40  Q007                    object
 41  Q008                    object
 42  Q009                    object
 43  Q010                    object
 44  Q011                    object
 45  Q012                    object
 46  Q022                    object
 47  Q024                    object
 48  Q025                    object
dtypes: float64(21), int64(9), object(19)
memory usage: 9.9+ GB

None

Limpando a base

In [3]:
# Removendo linhas onde o aluno não fez alguma das provas ou foi eliminado
df_enem2 = df_enem[(df_enem['TP_PRESENCA_CN'] == 1) & (df_enem['TP_PRESENCA_CH'] == 1) & (df_enem['TP_PRESENCA_LC'] == 1) & (df_enem['TP_PRESENCA_MT'] == 1)]
display(df_enem2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 17445514 entries, 0 to 27191903
Data columns (total 49 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_ANO                  int64
 1   TP_FAIXA_ETARIA         int64
 2   TP_SEXO                 object
 3   TP_ESTADO_CIVIL         float64
 4   TP_COR_RACA             int64
 5   TP_NACIONALIDADE        int64
 6   TP_ST_CONCLUSAO         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   IN_TREINEIRO            int64
 10  NO_MUNICIPIO_ESC        object
 11  CO_UF_ESC               float64
 12  SG_UF_ESC               object
 13  TP_DEPENDENCIA_ADM_ESC  float64
 14  TP_LOCALIZACAO_ESC      float64
 15  NO_MUNICIPIO_PROVA      object
 16  CO_UF_PROVA             int64
 17  SG_UF_PROVA             object
 18  TP_PRESENCA_CN          float64
 19  TP_PRESENCA_CH          float64
 20  TP_PRESENCA_LC          float64
 21  TP_PRESENCA_MT          float64
 22  NU_NOTA_CN              float64
 23  NU_NOTA_CH              float64
 24  NU_NOTA_LC              float64
 25  NU_NOTA_MT              float64
 26  TP_LINGUA               int64
 27  TP_STATUS_REDACAO       float64
 28  NU_NOTA_COMP1           float64
 29  NU_NOTA_COMP2           float64
 30  NU_NOTA_COMP3           float64
 31  NU_NOTA_COMP4           float64
 32  NU_NOTA_COMP5           float64
 33  NU_NOTA_REDACAO         float64
 34  Q001                    object
 35  Q002                    object
 36  Q003                    object
 37  Q004                    object
 38  Q005                    float64
 39  Q006                    object
 40  Q007                    object
 41  Q008                    object
 42  Q009                    object
 43  Q010                    object
 44  Q011                    object
 45  Q012                    object
 46  Q022                    object
 47  Q024                    object
 48  Q025                    object
dtypes: float64(21), int64(9), object(19)
memory usage: 6.5+ GB

None

In [4]:
# Média geral das notas
df_enem2['MEDIA_NOTAS'] = df_enem2[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)

C:\Users\szsou\AppData\Local\Temp\ipykernel_16492\1651912396.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_enem2['MEDIA_NOTAS'] = df_enem2[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']].mean(axis=1)

In [ ]:
# Removendo os anos de 2018, 2019 e 2020
# Não rodar caso *não* esteja indo gerar base pra treinar modelo
df_enem3 = df_enem2[(df_enem2['NU_ANO'] != 2018) & (df_enem2['NU_ANO'] != 2019) & (df_enem2['NU_ANO'] != 2020)]
display(df_enem3.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7261194 entries, 16392014 to 27191903
Data columns (total 50 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_ANO                  int64
 1   TP_FAIXA_ETARIA         int64
 2   TP_SEXO                 object
 3   TP_ESTADO_CIVIL         float64
 4   TP_COR_RACA             int64
 5   TP_NACIONALIDADE        int64
 6   TP_ST_CONCLUSAO         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   IN_TREINEIRO            int64
 10  NO_MUNICIPIO_ESC        object
 11  CO_UF_ESC               float64
 12  SG_UF_ESC               object
 13  TP_DEPENDENCIA_ADM_ESC  float64
 14  TP_LOCALIZACAO_ESC      float64
 15  NO_MUNICIPIO_PROVA      object
 16  CO_UF_PROVA             int64
 17  SG_UF_PROVA             object
 18  TP_PRESENCA_CN          float64
 19  TP_PRESENCA_CH          float64
 20  TP_PRESENCA_LC          float64
 21  TP_PRESENCA_MT          float64
 22  NU_NOTA_CN              float64
 23  NU_NOTA_CH              float64
 24  NU_NOTA_LC              float64
 25  NU_NOTA_MT              float64
 26  TP_LINGUA               int64
 27  TP_STATUS_REDACAO       float64
 28  NU_NOTA_COMP1           float64
 29  NU_NOTA_COMP2           float64
 30  NU_NOTA_COMP3           float64
 31  NU_NOTA_COMP4           float64
 32  NU_NOTA_COMP5           float64
 33  NU_NOTA_REDACAO         float64
 34  Q001                    object
 35  Q002                    object
 36  Q003                    object
 37  Q004                    object
 38  Q005                    float64
 39  Q006                    object
 40  Q007                    object
 41  Q008                    object
 42  Q009                    object
 43  Q010                    object
 44  Q011                    object
 45  Q012                    object
 46  Q022                    object
 47  Q024                    object
 48  Q025                    object
 49  MEDIA_NOTAS             float64
dtypes: float64(22), int64(9), object(19)
memory usage: 2.8+ GB

None

In [ ]:
# Se não for base pra treinar modelo, usar essa célula e ignorar a anterior
# df_enem3 = df_enem2

In [8]:
# Deixa apenas quem não é treineiro
df_enem3 = df_enem3[df_enem3['IN_TREINEIRO'] == 0]
display(df_enem3.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5965330 entries, 16392014 to 27191903
Data columns (total 50 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_ANO                  int64
 1   TP_FAIXA_ETARIA         int64
 2   TP_SEXO                 object
 3   TP_ESTADO_CIVIL         float64
 4   TP_COR_RACA             int64
 5   TP_NACIONALIDADE        int64
 6   TP_ST_CONCLUSAO         int64
 7   TP_ESCOLA               int64
 8   TP_ENSINO               float64
 9   IN_TREINEIRO            int64
 10  NO_MUNICIPIO_ESC        object
 11  CO_UF_ESC               float64
 12  SG_UF_ESC               object
 13  TP_DEPENDENCIA_ADM_ESC  float64
 14  TP_LOCALIZACAO_ESC      float64
 15  NO_MUNICIPIO_PROVA      object
 16  CO_UF_PROVA             int64
 17  SG_UF_PROVA             object
 18  TP_PRESENCA_CN          float64
 19  TP_PRESENCA_CH          float64
 20  TP_PRESENCA_LC          float64
 21  TP_PRESENCA_MT          float64
 22  NU_NOTA_CN              float64
 23  NU_NOTA_CH              float64
 24  NU_NOTA_LC              float64
 25  NU_NOTA_MT              float64
 26  TP_LINGUA               int64
 27  TP_STATUS_REDACAO       float64
 28  NU_NOTA_COMP1           float64
 29  NU_NOTA_COMP2           float64
 30  NU_NOTA_COMP3           float64
 31  NU_NOTA_COMP4           float64
 32  NU_NOTA_COMP5           float64
 33  NU_NOTA_REDACAO         float64
 34  Q001                    object
 35  Q002                    object
 36  Q003                    object
 37  Q004                    object
 38  Q005                    float64
 39  Q006                    object
 40  Q007                    object
 41  Q008                    object
 42  Q009                    object
 43  Q010                    object
 44  Q011                    object
 45  Q012                    object
 46  Q022                    object
 47  Q024                    object
 48  Q025                    object
 49  MEDIA_NOTAS             float64
dtypes: float64(22), int64(9), object(19)
memory usage: 2.3+ GB

None

In [ ]:
del df_enem
del df_enem2

Limpezas para ML

In [ ]:
# Removendo colunas desnecessárias ou redundantes
# Adicione 'NU_ANO' no dicionário se for base pra treinar modelo
colunas_para_remover = ['TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 
                        'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 
                        'NU_NOTA_MT', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 
                        'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'IN_TREINEIRO', 'NO_MUNICIPIO_ESC',
                        'CO_UF_ESC', 'TP_LOCALIZACAO_ESC', 'NO_MUNICIPIO_PROVA',
                        'CO_UF_PROVA', 'TP_STATUS_REDACAO', 'Q007', 'Q008', 'SG_UF_ESC',
                        'Q009', 'Q010', 'Q011', 'Q012', 'Q022', 'Q024', 'TP_ENSINO',
                        'TP_DEPENDENCIA_ADM_ESC']

df_enem4 = df_enem3.drop(columns=colunas_para_remover)
display(df_enem4.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5965330 entries, 16392014 to 27191903
Data columns (total 19 columns):
 #   Column            Dtype
---  ------            -----
 0   NU_ANO            int64
 1   TP_FAIXA_ETARIA   int64
 2   TP_SEXO           object
 3   TP_ESTADO_CIVIL   float64
 4   TP_COR_RACA       int64
 5   TP_NACIONALIDADE  int64
 6   TP_ST_CONCLUSAO   int64
 7   TP_ESCOLA         int64
 8   SG_UF_PROVA       object
 9   TP_LINGUA         int64
 10  NU_NOTA_REDACAO   float64
 11  Q001              object
 12  Q002              object
 13  Q003              object
 14  Q004              object
 15  Q005              float64
 16  Q006              object
 17  Q025              object
 18  MEDIA_NOTAS       float64
dtypes: float64(4), int64(7), object(8)
memory usage: 910.2+ MB

None

In [ ]:
# Renomeando colunas de questionários para facilitar entendimento
colunas_renomear = {'Q001': 'Instrução do pai', 'Q002': 'Instrução da mãe', 
                    'Q003': 'Profissão do pai', 'Q004': 'Profissão da mãe',
                    'Q005': 'Qtd Residentes', 'Q006': 'Renda Familiar',
                    'Q025': 'Acesso à internet'}
df_enem4 = df_enem4.rename(columns=colunas_renomear)
df_enem4

# OBSERVAÇÃO: Eu decidi escrever o nome das variáveis com acentos e espaços, e depois de fazer tudo percebi
# que foi uma péssima decisão hahaha. Mas já que tá feito, vou deixar assim mesmo.

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,SG_UF_PROVA,TP_LINGUA,NU_NOTA_REDACAO,Instrução do pai,Instrução da mãe,Profissão do pai,Profissão da mãe,Qtd Residentes,Renda Familiar,Acesso à internet,MEDIA_NOTAS
16392014,2021,12,M,1.0,1,1,1,1,AL,1,560.0,B,B,B,B,3.0,B,A,504.375
16392016,2021,3,M,1.0,3,1,2,2,CE,0,780.0,B,B,B,B,6.0,B,B,639.500
16392017,2021,2,F,1.0,3,1,2,2,CE,1,780.0,D,E,F,D,4.0,C,B,517.575
16392021,2021,8,F,1.0,3,1,2,2,MG,0,520.0,B,B,B,B,2.0,B,B,477.000
16392022,2021,4,F,1.0,3,1,2,2,BA,1,380.0,D,D,D,B,2.0,B,B,488.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27191895,2023,4,M,1.0,2,1,1,1,RS,1,600.0,H,C,B,B,5.0,K,B,543.000
27191896,2023,12,F,1.0,1,1,1,1,RS,0,500.0,B,B,D,D,3.0,D,B,567.200
27191898,2023,3,M,1.0,1,1,2,2,RS,0,600.0,E,E,D,D,4.0,F,B,523.700
27191900,2023,12,M,1.0,1,1,1,1,RS,0,540.0,C,E,F,F,5.0,F,B,583.200
27191903,2023,2,M,1.0,1,1,2,3,SP,0,600.0,G,G,E,E,3.0,N,B,539.925

In [13]:
# Contando nulos
nulos_por_coluna = df_enem4.isnull().sum()
print(nulos_por_coluna)

NU_ANO               0
TP_FAIXA_ETARIA      0
TP_SEXO              0
TP_ESTADO_CIVIL      0
TP_COR_RACA          0
TP_NACIONALIDADE     0
TP_ST_CONCLUSAO      0
TP_ESCOLA            0
SG_UF_PROVA          0
TP_LINGUA            0
NU_NOTA_REDACAO      0
Instrução do pai     1
Instrução da mãe     1
Profissão do pai     1
Profissão da mãe     1
Qtd Residentes       1
Renda Familiar       1
Acesso à internet    1
MEDIA_NOTAS          0
dtype: int64

In [ ]:
# Valores possíveis de cada coluna categórica
colunas_categoricas = ['TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 
                       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 
                       'TP_ESCOLA', 'SG_UF_PROVA', 'TP_LINGUA',
                       'Instrução do pai', 'Instrução da mãe', 
                       'Profissão do pai', 'Profissão da mãe',
                       'Qtd Residentes', 'Renda Familiar',
                       'Acesso à internet']

for coluna in colunas_categoricas:
    valores_unicos = df_enem4[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores únicos ({len(valores_unicos)}): {valores_unicos}\n")

Coluna: TP_FAIXA_ETARIA
Valores únicos (20): [ 2  3 11 13 12  4  7  6  8  5  9 15  1 10 18 14 16 17 20 19]

Coluna: TP_SEXO
Valores únicos (2): ['F' 'M']

Coluna: TP_ESTADO_CIVIL
Valores únicos (6): [ 0.  1. nan  3.  2.  4.]

Coluna: TP_COR_RACA
Valores únicos (7): [4 0 3 5 1 2 6]

Coluna: TP_NACIONALIDADE
Valores únicos (5): [1 2 3 4 0]

Coluna: TP_ST_CONCLUSAO
Valores únicos (4): [2 1 3 4]

Coluna: TP_ESCOLA
Valores únicos (4): [4 1 2 3]

Coluna: SG_UF_PROVA
Valores únicos (27): ['PA' 'MG' 'PE' 'RJ' 'SC' 'BA' 'DF' 'SP' 'SE' 'GO' 'MA' 'PB' 'ES' 'TO'
 'RS' 'RN' 'MT' 'CE' 'MS' 'PI' 'AL' 'RO' 'PR' 'AM' 'AC' 'AP' 'RR']

Coluna: TP_LINGUA
Valores únicos (2): [1 0]

Coluna: Instrução do pai
Valores únicos (9): ['E' 'D' 'B' 'F' 'A' 'C' 'H' 'G' nan]

Coluna: Instrução da mãe
Valores únicos (9): ['E' 'B' 'F' 'C' 'D' 'A' 'H' 'G' nan]

Coluna: Profissão do pai
Valores únicos (7): ['D' 'A' 'C' 'B' 'F' 'E' nan]

Coluna: Profissão da mãe
Valores únicos (7): ['D' 'A' 'B' 'F' 'C' 'E' nan]

Coluna: Qtd Residentes
Valores únicos (21): [ 2.  4.  7.  3. 11.  5.  6.  1.  8.  9. 10. 12. 15. 13. 19. 16. 14. 20.
 17. 18. nan]

Coluna: Renda Familiar
Valores únicos (18): ['F' 'B' 'I' 'C' 'D' 'A' 'E' 'G' 'O' 'N' 'H' 'J' 'Q' 'L' 'K' 'M' 'P' nan]

Coluna: Acesso à internet
Valores únicos (3): ['B' 'A' nan]

In [14]:
# Removendo linhas com "Acesso à internet" igual a "null"
df_enem4 = df_enem4[df_enem4['Acesso à internet'].notna()]

# Removendo linhas onde "NU_NOTA_REDACAO" é nulo
df_enem4 = df_enem4[df_enem4['NU_NOTA_REDACAO'].notna()]

# Preenchendo os nulls de "TP_ESTADO_CIVIL" com o valor mais frequente
valor_mais_frequente = df_enem4['TP_ESTADO_CIVIL'].mode()[0]
df_enem4['TP_ESTADO_CIVIL'] = df_enem4['TP_ESTADO_CIVIL'].fillna(valor_mais_frequente)

# Contando nulos
nulos_por_coluna = df_enem4.isnull().sum()
print(nulos_por_coluna)

NU_ANO               0
TP_FAIXA_ETARIA      0
TP_SEXO              0
TP_ESTADO_CIVIL      0
TP_COR_RACA          0
TP_NACIONALIDADE     0
TP_ST_CONCLUSAO      0
TP_ESCOLA            0
SG_UF_PROVA          0
TP_LINGUA            0
NU_NOTA_REDACAO      0
Instrução do pai     0
Instrução da mãe     0
Profissão do pai     0
Profissão da mãe     0
Qtd Residentes       0
Renda Familiar       0
Acesso à internet    0
MEDIA_NOTAS          0
dtype: int64

Codificando variáveis categóricas

In [15]:
# Função gerada pelo GPT para codificar variáveis categóricas
import re

def encode_ordinal_last_unknown(
    df: pd.DataFrame,
    cols,
    *,
    suffix_ord: str = "_ord",
    suffix_flag: str = "_nao_sei",
    fillna_zero: bool = True,
    normalize: bool = True
) -> pd.DataFrame:
    """
    Transforma variáveis categóricas ordinais em (número, flag_nao_sei),
    assumindo que a ÚLTIMA letra presente (ex.: G ou H) corresponde à resposta "não sei".

    Regras:
      - Letras válidas: A–Z (caso-insensível, espaços são ignorados).
      - A..(última-1) viram 1..N (ordinais crescentes).
      - A última letra vira apenas a flag *_nao_sei = 1; o ordinal vira NaN (ou 0 se fillna_zero=True).
      - Valores fora de A–Z permanecem como NaN no ordinal e flag=0.

    Parâmetros:
      df           : DataFrame de entrada (modificado in-place).
      cols         : str ou lista de colunas a processar.
      suffix_ord   : sufixo para a coluna numérica ordinal.
      suffix_flag  : sufixo para a flag binária do "não sei".
      fillna_zero  : se True, preenche ordinais NaN com 0 (útil p/ regressão linear/RNA).
      normalize    : se True, faz strip + upper nas strings antes do processamento.

    Retorna:
      O próprio DataFrame (com as novas colunas adicionadas).
    """
    if isinstance(cols, str):
        cols = [cols]

    letter_regex = re.compile(r"^[A-Z]$")

    for col in cols:
        s = df[col].astype(object)

        # normaliza: tira espaços e sobe pra maiúscula
        if normalize:
            s = s.map(lambda x: x.strip().upper() if isinstance(x, str) else x)

        # letras únicas válidas presentes na coluna
        uniques = pd.Series(s.dropna().unique())
        letters = uniques[uniques.map(lambda x: isinstance(x, str) and bool(letter_regex.match(x)))]

        # se não houver letras válidas, cria colunas "vazias"
        if len(letters) == 0:
            df[col + suffix_ord]  = np.nan if not fillna_zero else 0
            df[col + suffix_flag] = 0
            continue

        # a última letra (lexicograficamente) é o "não sei"
        nao_sei_letter = max(letters)

        # mapeia A..(última-1) -> 1..N (mantém ordem)
        valid_letters = sorted([lt for lt in letters if lt != nao_sei_letter])
        mapping = {lt: i + 1 for i, lt in enumerate(valid_letters)}

        # aplica
        ord_col  = s.map(mapping)                      # última letra vira NaN aqui
        flag_col = (s == nao_sei_letter).astype(int)   # 1 se "não sei", 0 caso contrário

        # valores não mapeados (ex.: NaN original ou fora de A–Z) mantêm NaN no ordinal e 0 na flag
        flag_col = flag_col.fillna(0).astype(int)

        if fillna_zero:
            ord_col = ord_col.fillna(0).astype(int)

        df[col + suffix_ord]  = ord_col
        df[col + suffix_flag] = flag_col

    return df

In [16]:
# Codificando variáveis categóricas
df_enem5 = df_enem4.copy()

encode_ordinal_last_unknown(
    df_enem5,
    cols=[
        'Instrução do pai', 'Instrução da mãe', 
        'Profissão do pai', 'Profissão da mãe'
    ],
    suffix_ord="_ord",
    suffix_flag="_nao_sei",
    fillna_zero=True,
    normalize=True
)

df_enem5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5965329 entries, 16392014 to 27191903
Data columns (total 27 columns):
 #   Column                    Dtype
---  ------                    -----
 0   NU_ANO                    int64
 1   TP_FAIXA_ETARIA           int64
 2   TP_SEXO                   object
 3   TP_ESTADO_CIVIL           float64
 4   TP_COR_RACA               int64
 5   TP_NACIONALIDADE          int64
 6   TP_ST_CONCLUSAO           int64
 7   TP_ESCOLA                 int64
 8   SG_UF_PROVA               object
 9   TP_LINGUA                 int64
 10  NU_NOTA_REDACAO           float64
 11  Instrução do pai          object
 12  Instrução da mãe          object
 13  Profissão do pai          object
 14  Profissão da mãe          object
 15  Qtd Residentes            float64
 16  Renda Familiar            object
 17  Acesso à internet         object
 18  MEDIA_NOTAS               float64
 19  Instrução do pai_ord      int64
 20  Instrução do pai_nao_sei  int64
 21  Instrução da mãe_ord      int64
 22  Instrução da mãe_nao_sei  int64
 23  Profissão do pai_ord      int64
 24  Profissão do pai_nao_sei  int64
 25  Profissão da mãe_ord      int64
 26  Profissão da mãe_nao_sei  int64
dtypes: float64(4), int64(15), object(8)
memory usage: 1.2+ GB

In [17]:
# Exibir apenas as colunas originais e as novas colunas criadas
colunas_interesse = ['Instrução do pai', 'Instrução do pai_ord', 'Instrução do pai_nao_sei',
                    'Instrução da mãe', 'Instrução da mãe_ord', 'Instrução da mãe_nao_sei',
                    'Profissão do pai', 'Profissão do pai_ord', 'Profissão do pai_nao_sei',
                    'Profissão da mãe', 'Profissão da mãe_ord', 'Profissão da mãe_nao_sei']
df_enem5[colunas_interesse]

,Instrução do pai,Instrução do pai_ord,Instrução do pai_nao_sei,Instrução da mãe,Instrução da mãe_ord,Instrução da mãe_nao_sei,Profissão do pai,Profissão do pai_ord,Profissão do pai_nao_sei,Profissão da mãe,Profissão da mãe_ord,Profissão da mãe_nao_sei
16392014,B,2,0,B,2,0,B,2,0,B,2,0
16392016,B,2,0,B,2,0,B,2,0,B,2,0
16392017,D,4,0,E,5,0,F,0,1,D,4,0
16392021,B,2,0,B,2,0,B,2,0,B,2,0
16392022,D,4,0,D,4,0,D,4,0,B,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
27191895,H,0,1,C,3,0,B,2,0,B,2,0
27191896,B,2,0,B,2,0,D,4,0,D,4,0
27191898,E,5,0,E,5,0,D,4,0,D,4,0
27191900,C,3,0,E,5,0,F,0,1,F,0,1
27191903,G,7,0,G,7,0,E,5,0,E,5,0

In [18]:
# Transformando as demais variáveis categóricas em dummies
colunas_para_dummies = ['TP_SEXO', 'TP_ESTADO_CIVIL',
                        'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
                        'TP_ESCOLA', 'SG_UF_PROVA', 'TP_LINGUA', 'Acesso à internet']

df_enem6 = pd.get_dummies(df_enem5, columns=colunas_para_dummies, drop_first=False) # Usar True se não for Random Forest
df_enem6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5965329 entries, 16392014 to 27191903
Data columns (total 74 columns):
 #   Column                    Dtype
---  ------                    -----
 0   NU_ANO                    int64
 1   TP_FAIXA_ETARIA           int64
 2   NU_NOTA_REDACAO           float64
 3   Instrução do pai          object
 4   Instrução da mãe          object
 5   Profissão do pai          object
 6   Profissão da mãe          object
 7   Qtd Residentes            float64
 8   Renda Familiar            object
 9   MEDIA_NOTAS               float64
 10  Instrução do pai_ord      int64
 11  Instrução do pai_nao_sei  int64
 12  Instrução da mãe_ord      int64
 13  Instrução da mãe_nao_sei  int64
 14  Profissão do pai_ord      int64
 15  Profissão do pai_nao_sei  int64
 16  Profissão da mãe_ord      int64
 17  Profissão da mãe_nao_sei  int64
 18  TP_SEXO_F                 bool
 19  TP_SEXO_M                 bool
 20  TP_ESTADO_CIVIL_0.0       bool
 21  TP_ESTADO_CIVIL_1.0       bool
 22  TP_ESTADO_CIVIL_2.0       bool
 23  TP_ESTADO_CIVIL_3.0       bool
 24  TP_ESTADO_CIVIL_4.0       bool
 25  TP_COR_RACA_0             bool
 26  TP_COR_RACA_1             bool
 27  TP_COR_RACA_2             bool
 28  TP_COR_RACA_3             bool
 29  TP_COR_RACA_4             bool
 30  TP_COR_RACA_5             bool
 31  TP_COR_RACA_6             bool
 32  TP_NACIONALIDADE_0        bool
 33  TP_NACIONALIDADE_1        bool
 34  TP_NACIONALIDADE_2        bool
 35  TP_NACIONALIDADE_3        bool
 36  TP_NACIONALIDADE_4        bool
 37  TP_ST_CONCLUSAO_1         bool
 38  TP_ST_CONCLUSAO_2         bool
 39  TP_ST_CONCLUSAO_4         bool
 40  TP_ESCOLA_1               bool
 41  TP_ESCOLA_2               bool
 42  TP_ESCOLA_3               bool
 43  SG_UF_PROVA_AC            bool
 44  SG_UF_PROVA_AL            bool
 45  SG_UF_PROVA_AM            bool
 46  SG_UF_PROVA_AP            bool
 47  SG_UF_PROVA_BA            bool
 48  SG_UF_PROVA_CE            bool
 49  SG_UF_PROVA_DF            bool
 50  SG_UF_PROVA_ES            bool
 51  SG_UF_PROVA_GO            bool
 52  SG_UF_PROVA_MA            bool
 53  SG_UF_PROVA_MG            bool
 54  SG_UF_PROVA_MS            bool
 55  SG_UF_PROVA_MT            bool
 56  SG_UF_PROVA_PA            bool
 57  SG_UF_PROVA_PB            bool
 58  SG_UF_PROVA_PE            bool
 59  SG_UF_PROVA_PI            bool
 60  SG_UF_PROVA_PR            bool
 61  SG_UF_PROVA_RJ            bool
 62  SG_UF_PROVA_RN            bool
 63  SG_UF_PROVA_RO            bool
 64  SG_UF_PROVA_RR            bool
 65  SG_UF_PROVA_RS            bool
 66  SG_UF_PROVA_SC            bool
 67  SG_UF_PROVA_SE            bool
 68  SG_UF_PROVA_SP            bool
 69  SG_UF_PROVA_TO            bool
 70  TP_LINGUA_0               bool
 71  TP_LINGUA_1               bool
 72  Acesso à internet_A       bool
 73  Acesso à internet_B       bool
dtypes: bool(56), float64(3), int64(10), object(5)
memory usage: 1.2+ GB

In [19]:
# Ordena Renda Familiar

import string

# gera as letras de A até Q
letras = list(string.ascii_uppercase)
validas = letras[letras.index("A"): letras.index("Q")+1]  # ['A', 'B', ..., 'Q']

# cria o dicionário A=1, B=2, ..., Q=17
map_renda = {lt: i+1 for i, lt in enumerate(validas)}

# aplica na coluna
df_enem6['Renda Familiar_ord'] = df_enem6['Renda Familiar'].map(map_renda)

In [20]:
# Dropando colunas originais que foram codificadas
colunas_para_dropar = ['Instrução do pai', 'Instrução da mãe', 
                       'Profissão do pai', 'Profissão da mãe', 'Renda Familiar']

df_enem6 = df_enem6.drop(columns=colunas_para_dropar)
df_enem6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5965329 entries, 16392014 to 27191903
Data columns (total 70 columns):
 #   Column                    Dtype
---  ------                    -----
 0   NU_ANO                    int64
 1   TP_FAIXA_ETARIA           int64
 2   NU_NOTA_REDACAO           float64
 3   Qtd Residentes            float64
 4   MEDIA_NOTAS               float64
 5   Instrução do pai_ord      int64
 6   Instrução do pai_nao_sei  int64
 7   Instrução da mãe_ord      int64
 8   Instrução da mãe_nao_sei  int64
 9   Profissão do pai_ord      int64
 10  Profissão do pai_nao_sei  int64
 11  Profissão da mãe_ord      int64
 12  Profissão da mãe_nao_sei  int64
 13  TP_SEXO_F                 bool
 14  TP_SEXO_M                 bool
 15  TP_ESTADO_CIVIL_0.0       bool
 16  TP_ESTADO_CIVIL_1.0       bool
 17  TP_ESTADO_CIVIL_2.0       bool
 18  TP_ESTADO_CIVIL_3.0       bool
 19  TP_ESTADO_CIVIL_4.0       bool
 20  TP_COR_RACA_0             bool
 21  TP_COR_RACA_1             bool
 22  TP_COR_RACA_2             bool
 23  TP_COR_RACA_3             bool
 24  TP_COR_RACA_4             bool
 25  TP_COR_RACA_5             bool
 26  TP_COR_RACA_6             bool
 27  TP_NACIONALIDADE_0        bool
 28  TP_NACIONALIDADE_1        bool
 29  TP_NACIONALIDADE_2        bool
 30  TP_NACIONALIDADE_3        bool
 31  TP_NACIONALIDADE_4        bool
 32  TP_ST_CONCLUSAO_1         bool
 33  TP_ST_CONCLUSAO_2         bool
 34  TP_ST_CONCLUSAO_4         bool
 35  TP_ESCOLA_1               bool
 36  TP_ESCOLA_2               bool
 37  TP_ESCOLA_3               bool
 38  SG_UF_PROVA_AC            bool
 39  SG_UF_PROVA_AL            bool
 40  SG_UF_PROVA_AM            bool
 41  SG_UF_PROVA_AP            bool
 42  SG_UF_PROVA_BA            bool
 43  SG_UF_PROVA_CE            bool
 44  SG_UF_PROVA_DF            bool
 45  SG_UF_PROVA_ES            bool
 46  SG_UF_PROVA_GO            bool
 47  SG_UF_PROVA_MA            bool
 48  SG_UF_PROVA_MG            bool
 49  SG_UF_PROVA_MS            bool
 50  SG_UF_PROVA_MT            bool
 51  SG_UF_PROVA_PA            bool
 52  SG_UF_PROVA_PB            bool
 53  SG_UF_PROVA_PE            bool
 54  SG_UF_PROVA_PI            bool
 55  SG_UF_PROVA_PR            bool
 56  SG_UF_PROVA_RJ            bool
 57  SG_UF_PROVA_RN            bool
 58  SG_UF_PROVA_RO            bool
 59  SG_UF_PROVA_RR            bool
 60  SG_UF_PROVA_RS            bool
 61  SG_UF_PROVA_SC            bool
 62  SG_UF_PROVA_SE            bool
 63  SG_UF_PROVA_SP            bool
 64  SG_UF_PROVA_TO            bool
 65  TP_LINGUA_0               bool
 66  TP_LINGUA_1               bool
 67  Acesso à internet_A       bool
 68  Acesso à internet_B       bool
 69  Renda Familiar_ord        int64
dtypes: bool(56), float64(3), int64(11)
memory usage: 1001.3 MB

In [21]:
# Transformando float e bool em int
df_enem6['Qtd Residentes'] = df_enem6['Qtd Residentes'].astype(int)

for col in df_enem6.select_dtypes(include="bool").columns:
    df_enem6[col] = df_enem6[col].astype(int)

df_enem6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5965329 entries, 16392014 to 27191903
Data columns (total 70 columns):
 #   Column                    Dtype
---  ------                    -----
 0   NU_ANO                    int64
 1   TP_FAIXA_ETARIA           int64
 2   NU_NOTA_REDACAO           float64
 3   Qtd Residentes            int64
 4   MEDIA_NOTAS               float64
 5   Instrução do pai_ord      int64
 6   Instrução do pai_nao_sei  int64
 7   Instrução da mãe_ord      int64
 8   Instrução da mãe_nao_sei  int64
 9   Profissão do pai_ord      int64
 10  Profissão do pai_nao_sei  int64
 11  Profissão da mãe_ord      int64
 12  Profissão da mãe_nao_sei  int64
 13  TP_SEXO_F                 int64
 14  TP_SEXO_M                 int64
 15  TP_ESTADO_CIVIL_0.0       int64
 16  TP_ESTADO_CIVIL_1.0       int64
 17  TP_ESTADO_CIVIL_2.0       int64
 18  TP_ESTADO_CIVIL_3.0       int64
 19  TP_ESTADO_CIVIL_4.0       int64
 20  TP_COR_RACA_0             int64
 21  TP_COR_RACA_1             int64
 22  TP_COR_RACA_2             int64
 23  TP_COR_RACA_3             int64
 24  TP_COR_RACA_4             int64
 25  TP_COR_RACA_5             int64
 26  TP_COR_RACA_6             int64
 27  TP_NACIONALIDADE_0        int64
 28  TP_NACIONALIDADE_1        int64
 29  TP_NACIONALIDADE_2        int64
 30  TP_NACIONALIDADE_3        int64
 31  TP_NACIONALIDADE_4        int64
 32  TP_ST_CONCLUSAO_1         int64
 33  TP_ST_CONCLUSAO_2         int64
 34  TP_ST_CONCLUSAO_4         int64
 35  TP_ESCOLA_1               int64
 36  TP_ESCOLA_2               int64
 37  TP_ESCOLA_3               int64
 38  SG_UF_PROVA_AC            int64
 39  SG_UF_PROVA_AL            int64
 40  SG_UF_PROVA_AM            int64
 41  SG_UF_PROVA_AP            int64
 42  SG_UF_PROVA_BA            int64
 43  SG_UF_PROVA_CE            int64
 44  SG_UF_PROVA_DF            int64
 45  SG_UF_PROVA_ES            int64
 46  SG_UF_PROVA_GO            int64
 47  SG_UF_PROVA_MA            int64
 48  SG_UF_PROVA_MG            int64
 49  SG_UF_PROVA_MS            int64
 50  SG_UF_PROVA_MT            int64
 51  SG_UF_PROVA_PA            int64
 52  SG_UF_PROVA_PB            int64
 53  SG_UF_PROVA_PE            int64
 54  SG_UF_PROVA_PI            int64
 55  SG_UF_PROVA_PR            int64
 56  SG_UF_PROVA_RJ            int64
 57  SG_UF_PROVA_RN            int64
 58  SG_UF_PROVA_RO            int64
 59  SG_UF_PROVA_RR            int64
 60  SG_UF_PROVA_RS            int64
 61  SG_UF_PROVA_SC            int64
 62  SG_UF_PROVA_SE            int64
 63  SG_UF_PROVA_SP            int64
 64  SG_UF_PROVA_TO            int64
 65  TP_LINGUA_0               int64
 66  TP_LINGUA_1               int64
 67  Acesso à internet_A       int64
 68  Acesso à internet_B       int64
 69  Renda Familiar_ord        int64
dtypes: float64(2), int64(68)
memory usage: 3.2 GB

Salvando Dataframes Finais

In [22]:
# Verifica se existem nulos
nulos_por_coluna = df_enem6.isnull().sum()
nulos_por_coluna

# Salvando o dataframe final
# df_enem6.to_pickle(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2021_2023_limpo.pkl')

NU_ANO                 0
TP_FAIXA_ETARIA        0
NU_NOTA_REDACAO        0
Qtd Residentes         0
MEDIA_NOTAS            0
                      ..
TP_LINGUA_0            0
TP_LINGUA_1            0
Acesso à internet_A    0
Acesso à internet_B    0
Renda Familiar_ord     0
Length: 70, dtype: int64

In [ ]:
# Salvando dataframe só com dados de 2020
df_enem_2020_final = df_enem6[df_enem6['NU_ANO'] == 2020]
df_enem_2020_final.to_pickle(r'C:\Users\szsou\Desktop\Projetos\Vídeos\ENEM\Projeto\microdados_enem_2020_limpo.pkl')

In [27]:
df_enem_2020_final

,NU_ANO,TP_FAIXA_ETARIA,NU_NOTA_REDACAO,Qtd Residentes,MEDIA_NOTAS,Instrução do pai_ord,Instrução do pai_nao_sei,Instrução da mãe_ord,Instrução da mãe_nao_sei,Profissão do pai_ord,...,SG_UF_PROVA_RS,SG_UF_PROVA_SC,SG_UF_PROVA_SE,SG_UF_PROVA_SP,SG_UF_PROVA_TO,TP_LINGUA_0,TP_LINGUA_1,Acesso à internet_A,Acesso à internet_B,Renda Familiar_ord
10608909,2020,3,700.0,5,533.725,3,0,2,0,3,...,1,0,0,0,0,0,1,0,1,3
10608912,2020,5,600.0,2,439.475,2,0,3,0,3,...,0,0,0,0,0,0,1,1,0,2
10608915,2020,7,640.0,5,574.225,2,0,3,0,3,...,0,0,0,0,0,1,0,0,1,2
10608922,2020,7,800.0,2,472.475,3,0,3,0,3,...,0,0,0,0,0,1,0,0,1,2
10608923,2020,13,500.0,5,458.675,3,0,4,0,3,...,0,0,0,0,0,0,1,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16391988,2020,2,340.0,4,402.400,2,0,4,0,1,...,0,0,0,0,0,1,0,0,1,2
16391999,2020,7,440.0,7,432.400,1,0,2,0,1,...,0,0,0,0,0,0,1,1,0,3
16392005,2020,2,500.0,4,400.600,4,0,4,0,3,...,0,0,0,0,0,1,0,1,0,3
16392008,2020,2,900.0,5,638.425,5,0,7,0,1,...,0,0,0,0,0,0,1,0,1,7
16392012,2020,2,380.0,5,531.025,6,0,4,0,4,...,0,0,0,0,0,1,0,0,1,3